:root {
    /* primitive color styles */
    --green-0: rgba(202, 250, 228, 1);
    --green-1: rgba(151, 245, 210, 1);
    --green-2: rgba(95, 226, 190, 1);
    --green-3: rgba(55, 198, 171, 1);
    --green-4: rgba(6, 161, 146, 1);
    --green-5: rgba(4, 138, 137, 1);
    --green-6: rgba(3, 106, 115, 1);
    --green-7: rgba(1, 77, 93, 1);
    --green-8: rgba(1, 56, 77, 1);
    --green-9: rgba(1, 44, 60, 1);
    --yellow-9: rgba(59, 35, 0, 1);
    --yellow-8: rgba(77, 45, 0, 1);
    --yellow-0: rgba(255, 248, 197, 1);
    --yellow-1: rgba(250, 225, 125, 1);
    --yellow-2: rgba(234, 197, 79, 1);
    --yellow-3: rgba(212, 167, 44, 1);
    --yellow-4: rgba(191, 135, 0, 1);
    --yellow-5: rgba(154, 103, 0, 1);
    --yellow-6: rgba(125, 78, 0, 1);
    --yellow-7: rgba(99, 60, 1, 1);
    --orange-9: rgba(71, 23, 0, 1);
    --orange-8: rgba(92, 34, 0, 1);
    --orange-7: rgba(118, 44, 0, 1);
    --orange-6: rgba(149, 56, 0, 1);
    --orange-5: rgba(188, 76, 0, 1);
    --orange-4: rgba(225, 111, 36, 1);
    --orange-3: rgba(251, 143, 68, 1);
    --orange-2: rgba(255, 183, 124, 1);
    --orange-1: rgba(255, 216, 181, 1);
    --orange-0: rgba(255, 241, 229, 1);
    --coral-9: rgba(81, 9, 1, 1);
    --coral-8: rgba(105, 17, 5, 1);
    --coral-7: rgba(128, 31, 15, 1);
    --coral-6: rgba(158, 47, 28, 1);
    --coral-5: rgba(196, 67, 43, 1);
    --coral-4: rgba(236, 101, 71, 1);
    --coral-3: rgba(253, 140, 115, 1);
    --coral-2: rgba(255, 180, 161, 1);
    --coral-1: rgba(255, 214, 204, 1);
    --coral-0: rgba(255, 240, 235, 1);
    --red-9: rgba(76, 0, 20, 1);
    --red-8: rgba(102, 0, 24, 1);
    --red-7: rgba(130, 7, 30, 1);
    --red-6: rgba(164, 14, 38, 1);
    --red-5: rgba(207, 34, 46, 1);
    --red-4: rgba(250, 69, 73, 1);
    --red-3: rgba(255, 129, 130, 1);
    --red-2: rgba(255, 171, 168, 1);
    --red-1: rgba(255, 206, 203, 1);
    --red-0: rgba(255, 235, 233, 1);
    --pink-9: rgba(77, 3, 54, 1);
    --pink-8: rgba(97, 19, 71, 1);
    --pink-7: rgba(119, 32, 87, 1);
    --pink-6: rgba(153, 40, 110, 1);
    --pink-5: rgba(191, 57, 137, 1);
    --pink-4: rgba(232, 90, 173, 1);
    --pink-3: rgba(255, 128, 200, 1);
    --pink-2: rgba(255, 173, 218, 1);
    --pink-1: rgba(255, 211, 235, 1);
    --pink-0: rgba(255, 239, 247, 1);
    --purple-9: rgba(46, 20, 97, 1);
    --purple-8: rgba(62, 31, 121, 1);
    --purple-7: rgba(81, 42, 151, 1);
    --purple-6: rgba(102, 57, 186, 1);
    --purple-5: rgba(130, 80, 223, 1);
    --purple-4: rgba(164, 117, 249, 1);
    --purple-3: rgba(194, 151, 255, 1);
    --purple-2: rgba(216, 185, 255, 1);
    --purple-1: rgba(236, 216, 255, 1);
    --purple-0: rgba(251, 239, 255, 1);
    --blue-4: rgba(33, 139, 255, 1);
    --blue-3: rgba(84, 174, 255, 1);
    --blue-2: rgba(128, 204, 255, 1);
    --blue-1: rgba(182, 227, 255, 1);
    --blue-0: rgba(221, 244, 255, 1);
    --blue-8: rgba(10, 48, 105, 1);
    --blue-9: rgba(0, 33, 85, 1);
    --blue-7: rgba(3, 61, 139, 1);
    --blue-6: rgba(5, 80, 174, 1);
    --blue-5: rgba(9, 105, 218, 1);
    --gray-9: rgba(36, 41, 47, 1);
    --gray-8: rgba(50, 56, 63, 1);
    --gray-7: rgba(66, 74, 83, 1);
    --gray-6: rgba(87, 96, 106, 1);
    --gray-5: rgba(110, 119, 129, 1);
    --gray-4: rgba(140, 149, 159, 1);
    --gray-3: rgba(175, 184, 193, 1);
    --gray-2: rgba(208, 215, 222, 1);
    --gray-1: rgba(234, 238, 242, 1);
    --gray-0: rgba(246, 248, 250, 1);
}
